/* عمر عبدالرحمن */

footer {
    color: #fff;
    background-color: #212529;
    padding: 30px 15px;
}

.footer-contact {
    padding: 15px 300px;
}

.contact-box {
    padding: 3px 0;
}
.contact-box2 {
    padding: 9px 0;
}
.footer-boxes {
    font-size: 1rem;
    background-color: #343a40;
    border-radius: 5px;
}

.footer-divider {
    border: 2px solid #f0a500;
    margin: 20px 0;
}

.mt-4 {
    font-size: 25px;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f0a500;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.back-to-top:hover {
    background-color: #d48e00;
}
