.LATEST_NEWS {
    text-align: center;
    background-color: #424242;
    color: #fff;
}
#all {
    text-align: start;
    margin: 10px;
}
.handle_ibrahim_div {
    padding: 20px;
    width: 350px;
}
